<mat-card>
  <mat-card-header>
    <h2 i18n>Cats are cute!</h2>
  </mat-card-header>
  <mat-card-content>
    <img src="https://http.cat/201" alt="A cute cat image" i18n-alt>
    <div class="facts">
      <h3 i18n>Facts</h3>
      <p i18n>Approximately {{40000 | number}} people are bitten by cats in the U.S. annually.</p>
      <p i18n>A cat can jump up to five times its own height in a single bound.</p>
      <p i18n>A Persian kitten from a reputable breeder can cost anywhere from {{500 | currency}} to {{1800 | currency}}.
        The price also differs for cats sold as pets and those with show and breeding potential. Show cats with breeding rights can cost {{3000 | currency}} and above.</p>
    </div>
  </mat-card-content>
</mat-card>
